/* Navigaton Bar */
#navbar {
  overflow: visible;
  background-color: #333
  }
/* Dropdown Buttons */
.dropbtn {
  background-color: #333;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.openbtn
{
  background-color: #333;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #334;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: #334;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  }
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #9033ff;}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  padding: 20px;
  font-family: Arial;

  }

.main {
  max-width: 1000px;
  margin: auto;
}
/* Content */
.content {
  background-color: white;
  padding: 10px;
}

h1 {
  font-size: 50px;
  color: white
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 15px;
}

/* Create three equal columns that floats next to each other+*/
.column {
  float: left;
  width: 25%;
  display: block;  /*Hide columns by default*/
}

.responsive {
  width:  100%;
  height: auto;
}

/* Clear floats after rows
.row:after {
  content: "";
  display: table;
  clear: both;
}*/



/* font-color: #27b5c0  azulrickandmorty*/
